# Node modules
node_modules/

# Bower components
bower_components/

# Archivos del SO
Thumbs.db

# CSS files
style.css

# Archivos de sublime text
*.sublime-project
*.sublime-workspace

# Sparrest db
db/